.each-story {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 800px;
  padding-bottom: 80px;
}

.each-story__main {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 60px;
  width: 100%;
  h1 {
    font-size: 5rem;
    margin-bottom: 25px;
    margin-top: 15px;
  }
  p {
    text-align: center;
    font-size: 1.6rem;
  }
}

.comment-input {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  input {
    align-self: flex-start;
    width: 70%;
    background: rgb(50, 50, 50);
    border: none;
    color: white;
    height: 45px;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 1.2rem;
    margin: 30px 0;
    border: 1px solid rgb(50, 50, 50);
    &:focus {
      border: 1px solid aliceblue;
    }
  }
  button {
    margin-left: 20px;
    display: flex;
    padding: 5px 20px;
    color: #548cff;
    background: rgb(18, 18, 18);
    font-size: 1.5rem;
    border: 1px solid #548cff;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 0.4s;
  }
}

.comments {
  display: flex;
  flex-flow: column;
  font-size: 20px;
  width: 100%;
  li {
    list-style: outside url(../assets/list.ico);
    margin: 20px 0;
  }
  h2 {
    font-size: 3rem;
    align-self: center;
  }
}

.comment-list {
  padding: 0 50px;
}

@media screen and (max-width: 800px) {
  .each-story {
    width: 600px;
    h1 {
      font-size: 3.5rem;
    }
  }
  .comment-input {
    button {
      margin-right: 20px;
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 630px) {
  .each-story {
    width: 470px;
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.2rem;
    }
    h2 {
      font-size: 2rem;
    }
  }
  .each-story__main {
    padding: 0 20px;
  }
  .comment-input {
    button {
      margin-right: 10px;
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .each-story {
    width: 400px;
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1rem;
    }
    h2 {
      font-size: 2.2rem;
    }
  }
  .comment-input {
    input {
      height: 40px;
      padding: 0 10px;
      font-size: 1rem;
    }
    button {
      margin-right: 0;
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 415px) {
  .each-story {
    width: 360px;
    h1 {
      font-size: 2.2rem;
    }
    p {
      font-size: 1rem;
    }
    h2 {
      font-size: 2rem;
    }
  }
  .each-story__main {
    padding: 0 15px;
  }
}

@media screen and (max-width: 370px) {
  .each-story {
    width: 300px;
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 0.9rem;
    }
    h2 {
      font-size: 1.7rem;
    }
  }
  .comment-input {
    input {
      height: 35px;
      font-size: 1rem;
    }
    button {
      margin-right: 0;
      font-size: 1.1rem;
      padding: 5px 12px;
    }
  }
}
